.cart-section {
  display: grid;
  margin: 60px auto;

  grid-gap: 30px;
  grid-template-columns: 2fr 1fr;

  h2 {
    margin-bottom: 30px;
  }



  .cart-table-row {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid $text-color-light;

    &:last-child {
      border-bottom: 1px solid $text-color-light;
    }

    .cart-table-row-left,
    .cart-table-row-right {
      display: flex;
      justify-content: space-between;
    }

    .cart-table-row-left {
      width: 50%;
    }

    .cart-table-row-right {
      width: 33%;
      padding-top: 10px;
    }

    .cart-table-img {
      max-height: 75px;
    }

    .cart-table-actions {
      font-size: 14px;
      text-align: right;
    }

    .cart-item-details {
      padding-top: 5px;
    }

    .cart-table-description {
      color: $text-color-light;
    }

    .cart-options {
      padding: 0;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      background: transparent;

      &:hover {
        color: lighten($text-color, 30%);
      }
    }
  }

  .cart-totals {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 0;
    background: $light-gray-background;

    .cart-totals-left {
      width: 50%;
    }

    .cart-totals-right {
      display: flex;
      justify-content: space-between;
      width: 35%;
      text-align: right;
    }

    .cart-totals-total {
      font-size: 22px;
      font-weight: bold;
      line-height: 2;
    }
  }

  .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .have-code {
    display: block;
    margin: 14px 0;
    text-align: right;
  }

  .have-code-container {
    width: 50%;
    padding: 16px;
    margin-left: auto;
    border: 1px solid $text-color-light;

    form {
      display: flex;
      justify-content: space-between;
    }

    input[type="text"] {
      width: 70%;
      padding: 10px;
      font-size: 16px;
    }

    input[type="submit"] {
      padding-top: 8px;
      padding-bottom: 8px;
      background: white;
      border: 1px solid $text-color-light;

      &:hover {
        background: $text-color;
      }
    }
  }
}
