.product-section {
  display: grid;
  padding: 100px 0 120px;

  grid-gap: 120px;
  grid-template-columns: 1fr 1fr;

  .selected {
    border: 1px solid #979797;
  }
}

.product-section-images {
  display: grid;
  margin-top: 20px;

  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.product-section-thumbnail {
  display: flex;
  align-items: center;
  min-height: 66px;
  border: 1px solid lightgray;
  cursor: pointer;

  &:hover {
    border: 1px solid #979797;
  }
}

.product-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px;
  text-align: center;
  border: 1px solid #979797;

  img {
    // opacity: 0;
    // transition: opacity .10s ease-in-out;
    max-height: 100%;

    -webkit-transition: opacity .10s ease-in-out;
       -moz-transition: opacity .10s ease-in-out;
        -ms-transition: opacity .10s ease-in-out;
         -o-transition: opacity .10s ease-in-out;
  }

  img.active {
    opacity: 1;
  }
}

.product-section-information {
  p {
    margin-bottom: 16px;
  }
}

.product-section-title {
  margin-bottom: 0;
}

.product-section-subtitle {
  color: $text-color-light;
  font-size: 20px;
  font-weight: bold;
}

.product-section-price {
  margin-bottom: 16px;
  color: $text-color;
  font-size: 38px;
}
