footer {
  padding: 40px 0;
  color: $white;
  background: url("./public/img/14.jpg");
}

.footer-content {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: 0 8px;
  }

  a {
    color: $white;
  }
}
